@import 'global'

*
    box-sizing: border-box

html
    font-size: 1em

body
    background: $offwhite
    color: $text-color
    font-family: $sans-serif
    margin: 0
    padding: 0
    display: grid
    grid: "nav main" / 17rem 1fr
    grid-gap: 0

main
    margin: 2rem 1rem 0 1rem
    grid-area: main
    h1
        text-align: center

.hidden-desktop
    display: none

@media screen and (max-width: 768px)

    #app
        grid: [row1-start] "nav" [row1-end] [row2-start] "main" [row2-end]

    .hidden-desktop
        display: block

    .hidden-mobile
        height: 0
